[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[scripts]

[packages]
requests = "*"
flask = "*"
shub = "*"
beautifulsoup4 = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
