[[source]]
name = "open-rest"
url = "https://github.com/haikelfazzani/open-rest/"
verify_ssl = true

[dev-packages]

[scripts]

[packages]
requests = "*"
flask = "*"

[requires]
python_version = "3.8"
